.picture-holder {
    width: 500px;
    min-height: 300px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid red;
}

.picture-holder img {
    width: 100%;
    height: auto;
}
